.card {
    display: grid;
    grid-template-areas:
        "imagen"
        "card-content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    margin: 5px;
    max-width: 200px;
    min-height: 200px;
    background-color: rgba(120, 120, 120, 0.5);
    border: 1px solid black;
    border-radius: 5px;

    overflow: hidden;
    box-sizing: border-box;
}

img {
    box-sizing: border-box;
    grid-area: imagen;
    width: 100%;
    height: auto; 
    max-height: 100px;
    object-fit: cover;

    box-shadow: 0 0 5px black;
}

.card-content {
    grid-area: card-content;
    padding: 10px;
    overflow: auto;
}

.card-title {
    margin: 0;
    padding: .4rem;
    line-height: 1.4;
    font-size: 1rem;
}

.card-description {
    margin: 5px 0 0;
    padding: .4rem;
    line-height: 1.4;
    font-size: .6rem;
}
