@import url(/styles/style.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  position: relative;

  border-bottom: 1px solid black;
  background-color: var(--clr-mustard);
}

#header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2em;
  text-shadow: 2px 2px 5px var(--clr-d-yellow);
}

#orderSchedulerIcon {
  background-image: url('../public/orderSchedulerIcon.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100px;
  height: 100px;
}

#orderSchedulerIcon[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .8em;
  color: var(--clr-d-yellow);
  background-color: var(--clr-bordeau);
  padding: 10px;
  border-radius: 5px;
}

button {
  margin-right: .5rem;
  padding: .6rem;

  cursor: pointer;

  font-weight: 700;
  color: white;

  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--clr-bordeau);
  box-shadow: 0 0 5px black;

  transition: transform .2s ease-in-out,
  background-color .3s ease-in-out,
  box-shadow .3s ease-in-out;

  &:hover {
    background-color: rgb(82, 23, 23);
    border: 1px solid black;

    transform: translateY(-5%);
  }
}

#adminProducts {
  background-color: rgb(221, 186, 88);

  &:hover {
    background-color: rgb(179, 150, 70);
  }
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.menu-item {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: var(--clr-mustard);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

.menu-item.active .dropdown-content {
  display: block;
}

.dropdown-content li {
  list-style: none;
  padding: 0;
}

.dropdown-content a {
  color: black;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: #ddba58;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.menu.show {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 100%;
  z-index: 1;
}

.menu-toggle {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--clr-mustard);
  }

  .menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu button {
    width: auto;
    font-size: 0.9rem;
  }

  .menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
  }

  .dropdown-content {
    width: 100%;
  }
}