@import url(style.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  position: relative;

  background-color: var(--clr-mustard);
}

h2 {
  padding: 0.5rem;

  font-size: 2rem;

  text-shadow: 2px 2px 5px var(--clr-d-yellow);

  cursor: help;
}

button {
  margin-right: 0.5rem;
  padding: 0.6rem;

  cursor: pointer;

  font-weight: 600;
  color: white;

  border-radius: 5px;
  border: none;
  background-color: var(--clr-bordeau);
  box-shadow: 0 0 5px black;

  &:hover {
    background-color: #521717;
  }
}

#adminProducts {
  background-color: #ddba58;

  &:hover {
    background-color: #b39646;
  }
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.menu-item {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: var(--clr-mustard);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

.menu-item.active .dropdown-content {
  display: block;
}

.dropdown-content li {
  list-style: none;
  padding: 0;
}

.dropdown-content a {
  color: black;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: #ddba58;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.menu.show {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 100%;
  z-index: 1;
}

.menu-toggle {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--clr-mustard);
  }

  .menu.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu button {
    width: auto;
    font-size: 0.9rem;
  }

  .menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
  }

  .dropdown-content {
    width: 100%;
  }
}