@import url(/styles/style.css);
@import url(/styles/products.css);

h3 {
    padding: 10px;
    margin-bottom: .5rem;

    color: var(--clr-d-yellow);
    text-shadow: 0 0 2px gold;
    background-color: rgba(0, 0, 0, .6);
}

section {
    margin-bottom: .5rem;
    border: 1px solid black;
}