@import url(/styles/modal.css);
@import url(/styles/header-component.css);

@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap");

:root {
  --clr-mustard: #f9d263;
  --clr-bordeau: #7f331b;
  --clr-tomato: #eb4335;
  --clr-l-green: #34a853;
  --clr-d-yellow: #fbbc05;
  --clr-varblue: #4285f4;
  --clr-vargrey: #cac4d0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1rem + 0.5rem);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;

  background: url("/img/appBackground.webp") no-repeat center center fixed;
}
